[Unit]
Description=Telegram
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/home/botlar/NomozVaqti-bot
ExecStart=/usr/bin/python /home/botlar/NomozVaqti-bot/app.py
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
Alias=script.service

